.jumbotron {
    background-color: #1E1E1E;
    margin-bottom: 0;
    word-wrap: break-word;
}

h1 {
    color: #9CDCFE;
    display: inline;
}

.tab-content {
    margin: 0.5em 0 0.5em 3em;
}

.lead {
    color: #608B4E;
    margin-bottom: 0;
}

.curly-bracket {
    font-size: 3em;
}

.jumbotron img {
    display: block;
    margin: 0 auto;
}